
<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>

        <h2>Loop</h2>
        <ul>
            <% Transportation.forEach(function(transportation) { %>
              <li><%= item.title %> - <%=item.Category %></li>
            
            <% }); %>

        </ul>
    </main>


    
</body>
</html>